html {
	background-color: #000000;
	background-image:
		url(http://www.gullyweb.net/upload/background/background_2_1.jpg);
}

body {
	background-image:url(http://www.gullyweb.net/upload/background/background_2_1.jpg);
	margin: 0 auto;
}

a:hover{
  background-color: rgba(138,138,138,.5);
  -webkit-box-shadow: inset 0 3px 7px rgba(138,138,138,.5);
}

.footer {
	text-align: center;
	left: 0;
	right: 0;
	position: absolute;
	bottom: 0;
	padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}